<div class="container-fluid">

    <!-- Header -->
    <header class="row">
        <div class="col-12">
            Header
        </div>
    </header>

    <!-- Navigation -->
    <nav class="row">
        <div class="col-12">
            Navigation
        </div>
    </nav>

    <!-- Main Area -->
    <main class="row">

        <aside class="col-lg-2">
            Left Sidebar
        </aside>

        <section class="col-lg-8">
            Main Content
        </section>

        <aside class="col-lg-2">
            Right Sidebar
        </aside>

    </main>

    <!-- Footer -->
    <footer class="row">
        <div class="col-12">
            Footer
        </div>
    </footer>

</div>